{% extends 'base.html' %}

{% block content %}

<style type="text/css">
#container
{
    width: 40px;
    float: left;
    color: Gray;
    font-family: Courier New;
    font-size: 14px;
    overflow: hidden;
    height: 400px;
    position: relative;
}
#divlines 
{
    position: absolute;
}
#code_text 
{
    overflow-x: scroll;
    height: 400px;
    font-family: Courier New;
    font-size: 14px;
}
</style>
<div class ="col-md-8">
<form class="form-signin">
	{% csrf_token %}
	<h2 class="form-signin-heading" align="center">C code</h2>
        
	<div id="container">
		<div id="divlines">
		</div>
	</div>
	{% if file_code %}
	<textarea id="code_text" cols="100" wrap="off"  name="code_text">{{ file_code }}</textarea>
	{% else %}
	<textarea id="code_text" cols="100" wrap="off"  name="code_text">
#include <stdio.h>
int main()
{
    printf("Hello World!\n");
    return 0;
}</textarea>
{% endif %}
</form>
	<hr>
	<div id='checkbox' class="col-md-4">
		<label><input id="user_input" type="checkbox" onclick="take_user_input()" name="check_uncheck">Give input for the test</label>	
			<textarea rows='4' cols='40' name="user_input_value" id= "user_input_value"></textarea>
	</div>
	<div class="col-md-6">
	</div>
	<div class ="col-md-2">
		<input type="button" value="Compile & run" onclick="compile_and_run()" class="btn btn-success btn-default"/>
		<br />
		<input type="button" onclick="new_file()" class="btn btn-successs btn-default" value="Save">
	</div>

 	
</div>
<div class ='col-md-4'>
	<div id="code_error_output" style="visibility:hidden;margin-top:20px;background-color:#F0F0F0;width:90%;padding:20px;border-radius:10px" ></div>
</div>
    <script src="/static/js/my.js"></script>

{% endblock %}